@import url("http://fonts.gooogleapis.com/css2?family=Poppins:wght@300;400;500;60;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}/* Styles for the carousel container */
  #carouselExample {
    width: 100%; /* Adjust as needed */
    height: 500px; /* Center the carousel */
    margin-top: 125px;
    margin-bottom: 30px;

  }
  
  /* Styles for the carousel items */
  .carousel-item img {
    width: 100%; /* Ensure images fill the carousel container */
    height: 520px; /* Maintain aspect ratio */
  }
  .text{
    color: #fff;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
  }
  .card-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* เปลี่ยนฟ้อนต์เป็น Arial */
    font-size: 20px; /* ปรับขนาดฟ้อนต์ตามต้องการ */
    color: whitesmoke; /* เปลี่ยนสีข้อความตามต้องการ */
  }
  
  .games img{
    width: 150px;
    height: 200px;
    margin: 0;
    margin-top: 90px;
    border: 10px  ;
    margin: 10px ;
    align-items: center;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .card .card-body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
  }
  
  .card .card-body .btn{
    background: rgb(132,132,227);
  }
  
  .games{
    display: flex;
      align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางในแนวนอน */
      text-align: center;
  }
  .games .card {
    margin: 60px;
    border-radius: 30px;
    border: 1px solid rgb(40, 40, 40); /* เพิ่มเส้นขอบสีเทาเข้ม */
    transition: border-color 0.3s; /* เพิ่มเอฟเฟกต์ transition เพื่อทำให้การเปลี่ยนแปลงเส้นขอบเนื่องจาก hover เกิดขึ้นอย่างนุ่มนวล */
    background: rgb(38,38,39);
    background: linear-gradient(0deg, rgba(38,38,39,1) 10%, rgba(0,0,0,1) 83%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* เพิ่มเอฟเฟกต์เงา และเปลี่ยนสีเงาเป็นสีดำ */
  }
